body {
  background: #f0f4f7;
}

#playground, header {
  margin: 20px;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
}

header h1.hidden {
  display: none;
}

.row {
  clear: both;
}

.cell {
  float: left;
  border: 1px solid;
  background:#ffffff;
  border-color: #c3cfd9;
  border-radius: 1px;
  height: 25px;
  width: 25px;
  margin: 1px;
  transition: border-color 1s;
}

.cell.white {
  background:#ffffff;
  border-color: #c3cfd9;
}

.cell.red {
  background:   #e9a2ad;
  border-color: #d3455b;
}

.cell.purple {
  background:#b2acfa;
  border-color: #6558f5;
}

.cell.green {
  background:#8dd7cf;
  border-color: #1aae9f;
}

.cell.yellow {
  background:#fcd434;
  border-color: #d2960a;
}

.cell.blue {
  background:#2eb8f6;
  border-color: #0a7bab;
}


.cell.destroying {
  background: #ff8b33 !important;
  border-color: #ff6f00 !important;;
  transition: border-color 0s, background 0s;
}