body {
  text-align: center;
  padding: 18px;
}

select {
  padding: 7px 40px 7px 12px;
  width: 40%;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

option {
  color: #223254;
}

#content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
  padding: 20px;
}

.main-item {
  flex: 1 0 21%;
  margin: 30px 10px;
  height: 300px;
  text-align: center;
}

img {
  height: 230px;
}

.heading {
  font-weight: 800;
}